
KLCocoaCommon.xcodeproj/xcuserdata/kelei.xcuserdatad/xcschemes/xcschememanagement.plist

KLCocoaCommon.xcodeproj/xcuserdata/kelei.xcuserdatad/xcschemes/LogicTests.xcscheme

KLCocoaCommon.xcodeproj/project.xcworkspace/xcuserdata/kelei.xcuserdatad/UserInterfaceState.xcuserstate

LogicTests/LogicTests.m

LogicTests/LogicTests.h
